mutation {
  createTrial(
    ageLl: 18, 
    ageUl: 2, 
    description: "New Trial Description", 
    title: "Vinblastine +/- Bevacizumab in Children With Unresectable or Progressive Low Grade Glioma (LGG)", url: "https://ClinicalTrials.gov/show/NCT02840409"
  ) {
    id
    url
    title
  }
}
